.shelves {
  margin: 2rem auto;
  max-width: 40rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1rem;
  padding: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  position: relative;
  padding: 1rem; /* Add padding for spacing */
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
  align-items: center;
}

.item a:hover {
  transform: scale(1.02);
  /* background-color: var(--color-gray-700); */
}

.item img {
  width: 33%;
  object-fit: cover;
}

.content {
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
}

.item h2 {
  font-size: 16px; /* Set the desired font size */
  margin: 0; /* Remove margin for cleaner spacing, if necessary */
  padding: 0 1rem; /* Add horizontal padding if needed */
  color: var(--color-white); /* Optional: change color */
  font-weight: bold; /* Optional: make it bold */
  /* margin: 0 0 1rem 0; */
}

.actions {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right:1rem;
  bottom:1rem;
}

.actions button {
  display: flex;
  font: inherit;
  cursor: pointer;
  padding: 5px 10px;
  font-size:14px;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions a button {
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
}

.actions a button:hover {
  background-color: var(--color-primary-300);
}
