.form {
  max-width: 40rem;
  margin: 4rem auto;

}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.error {
  color: var(--color-error, red); /* Fallback to red if --color-error is not defined */
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.form .error {
  color: var(--color-error, red); /* Specific for errors inside forms */
  padding-left: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin:2rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button[type='button'] {
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button[type='button']:hover {
  background-color: var(--color-gray-800);
}


.status-current-page-container {
  border: 2px solid red; /* Red border with a width of 2px */
  padding: 1rem; /* Optional padding inside the container */
  margin-bottom: 1rem; /* Optional margin to space it out from other elements */
}