.addButton {
  padding: 10px 20px;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #0056b3;
}
